body {
  font-family: Arial;
  margin: 0;
  background: linear-gradient(135deg, #4e73df, #1cc88a);
}

.login-container {
  width: 300px;
  margin: 150px auto;
  padding: 30px;
  background: white;
  text-align: center;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #4e73df;
  color: white;
  border: none;
  cursor: pointer;
}

.dashboard {
  padding: 40px;
  text-align: center;
}

.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 150px;
}
