# name: Deploy to Cloud Run

# on:
#   push:
#     branches:
#       - none

# env:
#   PROJECT_ID: project-586cba26-8a19-4658-b23
#   REGION: us-central1
#   REPOSITORY: fashion-repo
#   SERVICE: gcp-learning-sv
#   IMAGE: login-app

# jobs:
#   deploy:
#     runs-on: ubuntu-latest

#     permissions:
#       contents: read
#       id-token: write

#     steps:
#       - name: Checkout
#         uses: actions/checkout@v4

#       # Authenticate to GCP using OIDC
#       - name: Authenticate to GCP
#         uses: google-github-actions/auth@v2
#         with:
#           workload_identity_provider: projects/1036679411770/locations/global/workloadIdentityPools/github-pool/providers/github-provider
#           service_account: terraform-sa@project-586cba26-8a19-4658-b23.iam.gserviceaccount.com

#       - name: Configure Docker
#         run: gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.dev

#       - name: Build Docker Image
#         run: |
#           docker build -t $REGION-docker.pkg.dev/$PROJECT_ID/$REPOSITORY/$IMAGE:latest .

#       - name: Push Docker Image
#         run: |
#           docker push $REGION-docker.pkg.dev/$PROJECT_ID/$REPOSITORY/$IMAGE:latest

#       - name: Deploy to Cloud Run
#         run: |
#           gcloud run deploy $SERVICE \
#             --image=$REGION-docker.pkg.dev/$PROJECT_ID/$REPOSITORY/$IMAGE:latest \
#             --region=$REGION \
#             --platform=managed \
#             --allow-unauthenticated \
#             --port=8080

# name: Deploy to Cloud Run

# on:
#   push:
#     branches:
#       - main

# env:
#   PROJECT_ID: project-586cba26-8a19-4658-b23
#   REGION: us-central1
#   SERVICE: gcp-learning-sv
#   IMAGE: docker.io/abdulsalam16/deploymenttest:latest

# jobs:
#   deploy:
#     runs-on: ubuntu-latest

#     permissions:
#       contents: read
#       id-token: write

#     steps:
#       - name: Checkout
#         uses: actions/checkout@v4

#       # Authenticate to GCP using OIDC
#       - name: Authenticate to GCP
#         uses: google-github-actions/auth@v2
#         with:
#           workload_identity_provider: projects/1036679411770/locations/global/workloadIdentityPools/github-pool/providers/github-provider
#           service_account: terraform-sa@project-586cba26-8a19-4658-b23.iam.gserviceaccount.com

#       - name: Deploy to Cloud Run
#         run: |
#           gcloud run deploy $SERVICE \
#             --image=$IMAGE \
#             --region=$REGION \
#             --platform=managed \
#             --allow-unauthenticated \
#             --port=3000

name: Push to Artifact Registry & Deploy

on:
  push:
    branches:
      - main

env:
  PROJECT_ID: project-586cba26-8a19-4658-b23
  REGION: us-central1
  REPOSITORY: poc-oreilly
  SERVICE: gcp-learning-sv
  IMAGE: poc-oreilly
  DOCKER_HUB_IMAGE: abdulsalam16/deploymenttest:latest

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Authenticate to GCP using OIDC
      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/1036679411770/locations/global/workloadIdentityPools/github-pool/providers/github-provider
          service_account: terraform-sa@project-586cba26-8a19-4658-b23.iam.gserviceaccount.com

      - name: Configure Docker for Artifact Registry
        run: |
          gcloud auth configure-docker $REGION-docker.pkg.dev

      # Pull from Docker Hub
      - name: Pull Docker Hub Image
        run: |
          docker pull $DOCKER_HUB_IMAGE

      # Tag for Artifact Registry
      - name: Tag Image
        run: |
          docker tag $DOCKER_HUB_IMAGE \
          $REGION-docker.pkg.dev/$PROJECT_ID/$REPOSITORY/$IMAGE:v1

      # Push to Artifact Registry
      - name: Push to Artifact Registry
        run: |
          docker push $REGION-docker.pkg.dev/$PROJECT_ID/$REPOSITORY/$IMAGE:v1




